:root { 
--top-search-bar: #F8F9FA;
--sidebar: #051E34; 
--student-status-bar: #1B72E8;
--main-app-content:#F8F9FA;
}

a {
    color: currentColor;
    text-decoration: none;
}

ul, li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}



.web-app {
    height: 100vh;
}

.main-app-content {
    overflow-y: scroll;
    background-color: var(--main-app-content);
    width: 100vw;
}

.student-status-bar {
    background-color: var(--student-status-bar);
    min-height: 100px;
}


/* TOP SEARCH BAR */


.search-bar {
    background-color:#E5E5E5;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.main-search-bar {
    position: relative;
}

.first-nav-list {
    color: grey;
}

.second-nav-list {
    color: goldenrod;
}

.main-input  {
    padding-left: 30px;
}

.fa-solid.fa-magnifying-glass {
    position: absolute;
    top: 10px;
    left: 8px;
}

.dropdown-toggle::after {
    display: none;
}

.top-search-bar {
    height:60px;
    background-color: var(--top-search-bar);
}

/* SIDEBAR */

.sidebar-bottom-menu {
    margin-top: auto;
}

.side-li {
    padding: 3px;
}

.side-li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.a-1, .a-2, .a-3, .a-4 {
    width: 70px;
} 

.sidebar {
    width:60px;
    background-color: var(--sidebar);
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    color: white;
}

@media screen and (min-width: 768px) {
    .sidebar {
        width:180px;
    }
}

/* STUDENT STATUS BAR */

span.status-badge {
    background-color: #165BBA!important;
    text-align: center;
}

.tasks {
    flex-grow: 10;
    order: 2;
}

.online-students, .add-new-student {
    flex-grow: 3;
}

.add-new-student {
    order: 1;
}

.online-students {
    order: 3;
}
.fa-solid.fa-angles-right.text-white {
    font-size: 12px;
}

.btn {
    border: 1px solid white;
    color: white;
}

@media screen and (min-width: 768px) {
    .tasks {
        order:1;
    }

    .online-students {
        order: 2;
    }

    .add-new-student {
        order: 3;
    }

}